Repository JeHwanYoo/nest-hexagonal-showcase: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: false
      unit:
        flags: [unit]
        target: 80%
      e2e:
        flags: [e2e]
        target: 70%

flags:
  unit:
    paths:
      - src/
    carryforward: true
  e2e:
    paths:
      - test/
    carryforward: true

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false

chore: add debugging steps for coverage directories in GitHub Actions
  .github/workflows/test.yml
  README.md
Due: none

chore: update README and GitHub Actions with new repository slug
  .github/workflows/test.yml
  README.md
Due: none

chore: update GitHub Actions to run unit and E2E tests
  .github/workflows/test.yml
Due: none

chore: fix typo in GitHub Actions unit test step
  .github/workflows/test.yml
Due: none

docs: add codecov badge
  README.md
Due: none

style: update README links to remove text decoration
  README.md
Due: none

chore: update build script to copy package.json to dist directory
  package.json
Due: none

chore: update package.json metadata and refactor main.ts for environment variables
  package.json
  src/main.ts
Due: unit

refactor: change variable declaration from let to const in main.ts
  src/main.ts
Due: unit

refactor: remove version tag logic from Swagger setup
  src/main.ts
Due: unit

fix: improve error handling for existing email in user creation
  eslint.config.mjs
  src/user/application/user.create.service.spec.ts
  src/user/application/user.create.service.ts
Due: unit

refactor: rename user repository methods for consistency
  src/user/application/mock/user.repository.mock.ts
  src/user/application/user.create.service.spec.ts
  src/user/application/user.create.service.ts
  src/user/application/user.find.service.spec.ts
  src/user/application/user.find.service.ts
  src/user/domain/ports/out/user-repository.port.ts
  src/user/infrastructure/persistence/user.mikro-orm.repository.spec.ts
  src/user/infrastructure/persistence/user.mikro-orm.repository.ts
Due: unit

fix: update error message for existing email in user creation
  test/app.e2e-spec.ts
Due: e2e

chore: add CODEOWNERS file for repository ownership management
  .github/CODEOWNERS
Due: none

feat: add issue and pull request templates for better contribution guidelines
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: add onlyBuiltDependencies configuration to package.json
  package.json
Due: none

chore: add docker-compose configuration for PostgreSQL service
  docker-compose.yml
Due: none

docs: update database choice and testing requirements in README
  README.md
Due: none

docs: add prerequisites and application startup instructions to README
  README.md
Due: none

docs: add .env.development example for database connection in README
  README.md
Due: none

chore: update .gitignore to include all .env files
  .gitignore
Due: none

docs: add work in progress notice to README
  README.md
Due: none

chore: add package-lock.json and remove sqlite dependency
  package-lock.json
  package.json
Due: none

chore: update package dependencies to latest versions
  package.json
Due: none

chore: remove package-lock.json and update dependencies
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/shared/config/mikro-orm.config.module.ts
  src/user/infrastructure/persistence/user.mikro-orm.repository.spec.ts
  test/helpers/test-app.ts
Due: unit, e2e

test(user): add initial test case for user repository
  src/user/infrastructure/persistence/user.mikro-orm.repository.spec.ts
Due: unit

chore: add @mikro-orm/postgresql dependency to package.json
  package.json
  pnpm-lock.yaml
Due: none

config(docker): change PostgreSQL port mapping in docker-compose
  docker-compose.yml
Due: none

docs(readme): update PostgreSQL connection URL in README
  README.md
Due: none

config(docker): update PostgreSQL container name in docker-compose
  docker-compose.yml
Due: none

chore: add @testcontainers/postgresql dependency
  package.json
  pnpm-lock.yaml
Due: none

chore: remove sqlite-container helper file
  test/helpers/sqlite-container.ts
Due: e2e

chore: update Prettier configuration and add VSCode settings
  .prettierrc
  .vscode/settings.json
Due: none

style: update code formatting in user controller and repository
  .prettierrc
  src/user/infrastructure/api/user.controller.ts
  src/user/infrastructure/persistence/user.mikro-orm.repository.ts
Due: unit

feat: enhance MikroORM configuration and add user e2e tests
  .vscode/settings.json
  src/shared/config/mikro-orm.config.module.ts
  test/helpers/postgres-test-container.ts
  test/helpers/test-app.ts
  test/helpers/test-modules.ts
  test/user.e2e-spec.ts
Due: unit, e2e
